<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Mukta:400,600" rel="stylesheet">
    <style>
        body, html{
            height: 100%;
            width: 100%;
        }
        body{
            font-family: 'Mukta', sans-serif;
            color: gainsboro;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: grey;
            background-image: url("img/bg.jpg");
            background-size: cover;
            background-position: center;
        }
        form{
            height: 100px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .box{
            border: solid 1px black;
            border-radius: 5px;
            height: 40px;
            width: 30%;
            padding: 7px;
        }
        .box:focus{
            outline: groove red 1px;
        }
        .button{
            width: 15%;
            height: 35px;
            background-color: #bada55;
            border-radius: 5px;
            border: none;
        }
        @media screen and (max-width: 1000px){
            .box{
                width: 60%;
            }
            .button{
                width: 30%;
            }
        }
        @media screen and (max-width: 520px) {
            .box{
                width: 80%;
            }
            .button{
                width: 40%;
            }
        }
        nav{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 7%;
            z-index: 2;
        }
        .menu a{
            padding: 0 15px;
            text-decoration: none;
            color: white;
        }
        .menu a:visited{
            text-decoration: none;
            color: white;
        }
        .menu-bar{
            align-self: flex-start;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 1.5em;
            height: 2.5em;
            /*visibility: hidden;*/
        }
        .menu-bar span{
            flex-basis: 20%;
        }
        .menu-bar span:nth-child(odd){
            border-bottom: 1px solid white;
        }
    </style>
</head>
<body>
<nav class="nav">
    <div class="menu-bar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu">
        <% if(!currentUser){ %>
        <a href="/login">LOGIN</a>
        <a href="/register">SIGNUP</a>
        <%}else{%>
        <a href="#"><%=currentUser.username%></a>
        <a href="/logout">LOGOUT</a>
        <%}%>
    </div>

</nav>
<h1>NA ONLY: Search Summoner Name</h1>
<form action="/summoner" method="get">
    <input class="box" type="text" name="summonername" />
    <input class="button" type="submit" value="Search">
</form>
</body>
</html>