<!DOCTYPE html>
<html>
<head>
    <title>Das Movieeze</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/main.min.css">
</head>
<body>
<% {var date =  new Date(result.revisionDate).toDateString();
    }
%>
<img class="img-responsive" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/profileicon/<%= result.profileIconId%>.png">
<p>Name: <a href="/summoners/<%= result.name %>"><%= result.name%></a>
</p>
<p>Revision Date: <%= date %></p>

<!--<ul class="slideshow">-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--<li></li>-->
<!--</ul>-->

</body>
</html>