body{
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
p{
    padding: 0;
    margin: 0;
}
.main-container{
    display: flex;
    justify-content: space-between;

}
.profile-container{
    flex-basis: 20%;
    margin-right: 10px;
}
.matches-container{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.match-container{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    min-height: 75px;
}
.match{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 25px;
}

.champ{
    flex-basis: 20%;
    max-height: 60px;
}
img{
    box-sizing: border-box;
    max-height: inherit;
    border-radius: 10px;
}
.spell-container{
    flex-basis: 20%;
    display: flex;
}
.kda{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;

}
.spell{
    max-height: 40px;
}
.items{
    flex-basis: 60%;
    display: flex;
    justify-content: flex-start;
    max-height: 50px;
}
.item{
    max-height: 40px;
}
.more{
    border: none;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
}
.win-true{
    background-color: #bada55;
}
.win-false{
    background-color: #ED271B;
}
.more-true{
    background-color: #8BAB29;
}
.more-false{
    background-color: #B9150B;
}
.team-100, .team-200{
    font-size: .7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 35px;
}
.team-100 .champ, .team-200 .champ{
    max-height: 30px;

}
.team-100{
    background-color: cornflowerblue;

}
.team-200{
    background-color: #ED271B;
}
.player{
    flex-basis: 20%;
}
.dmg-dealt{
    font-size: .7em;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.hidden-items{
    display: flex;
    flex-basis: 60%;
    justify-content: flex-start;
    align-content: center;
}
.hidden-items .item{
    max-height: 25px;
}
.hidden-spell-container{
    display: flex;
    flex-basis: 20%;
    justify-content: flex-start;
    align-content: center;
}
.hidden-spell-container .spell{
    max-height: 25px;
}
.match-pagination{
    display: flex;
    margin-left: 100px;
}
.match-pagination div{
    padding: 0 1em;
}