
.champs{
    height: 2em;
    width: 2em;
}
.champs img{
    border-radius: 50%;
}
/*img{*/
    /*height:inherit;*/
    /*width:inherit;*/

/*}*/
.spells{
    float: left;
    height: 2em;
    width: 2em;
}
.items{
    float: left;
    height: 2em;
    width: 2em;
    background-color: gray;
}
.matches{
    border: 2px solid #5cb85c;
}
.row.bg-primary, .row.bg-danger{
    border: 1px solid #5cb85c;
}
.matchbox{
    -webkit-box-shadow: 4px 4px 28px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 28px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 28px -8px rgba(0,0,0,0.75);
}